{% extends 'base.html.twig' %}

{% block page %}create{% endblock %}

{% block content %}

    <div class="head">
        <h2>Ajout de compteur</h2>
    </div>
    <div class="body">
        {{form(form)}}
    </div>

{% endblock %}