{% extends 'base.html.twig' %}

{% block page %}update{% endblock %}

{% block content %}
    <div class="head">
        <h2>Compteur n°{{id}}</h2>
    </div>
    <div class="body">
        {{form(form)}}
    </div>

{% endblock %}