{% extends "base.html.twig" %}

{% block content %}

<div class="container">
    <h2>Accès non autorisé</h2>
    <p>L'utilisation de cette application nécéssite la création d'un compte.</p>
    <a href="/register"> Cliquer ici pour commencer la création de celui ci.</a>
    <a href="/login"> Appuyer ici pour vous connectez.</a>
</div>

{% endblock %}